@font-face {
    font-family: opensans;
    src: url(open-sans.regular.ttf);
}
@font-face {
    font-family: opensanslight;
    src: url(open-sans.light.ttf);
}

@font-face {
    font-family: walkway;
    src: url(walkway.ttf);
}

body {
    margin: 0;

    font-family: opensanslight;
}

header {
    margin: auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header img {
    max-width: 90%;
    margin-top: 12px;
}

header h1 {
    font-weight: lighter;
    margin-bottom: 18px;
}

#landing {
    max-width: 1200px;
    margin: auto;
}

section {
    margin: 1.4em 1em;
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: rgb(237, 243, 243);
}

.btn {
    color: #fff;
    background-color: rgb(39, 167, 177);
    border: 0;
    margin-left: auto;

    border-radius: 5px;
    text-decoration: none;

    font-family: opensans;

    padding: 10px 12px;
    font-size: 20px;
}

.btn:hover {
    background-color: rgb(59, 200, 211);
}

h1 {
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
    margin: 0 0.8em;
}

h2 {
    font-weight: normal;
    font-size: 32px;
}

h3 {
    font-size: 28px;
    font-weight: lighter;
}

p {
    font-size: 18px;
}



#email {
    font-size: 1.4em;
    text-align: center;
}

#address {
    font-size: 1.2em;
    text-align: center;
}

#contact-info {
    width: 600px;
    max-width: 85%;

    margin: auto;
    font-size: 1.2em;

    background-color: rgb(237, 243, 243);

    padding: 1.2em;

    margin-top: 4em;
    margin-bottom: 4em;
}


/* Layouts */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-3 {
    padding-left: 2em;
    padding-right: 2em;

    max-width: 440px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-6 {
    max-width: 100%;
}

@media screen and (max-width: 660px) {
    .desktop-only {
        display: none;
    }
}

@media screen and (min-width: 660px) {
    .col-3 {
        width: 320px;
    }

    .col-6 {
        max-width: 45%;
    }

    .mobile-only {
        display: none;
    }
}

@media screen and (min-width: 2060px) {
    .col-3 {
        width: 440px;
    }
}

.profile-heading {
    text-align: center;
}

.col-3 img {
    width: 95%;
    height: auto;
}

.areas {
    list-style: none;
}